h2 {
    font-size: 30px;
    font-family: 'Overlock';
    font-weight: 800;
    text-align: left;
}

h1 {
    font-family: 'Overlock';
    font-size: 60px;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 black, 
      0 1px 0 black, 
      0 2px 0 black, 
      0 3px 0 #C4ABFF, 
      0 4px 0 #C4ABFF, 
      0 5px 0 #C4ABFF, 
      0 6px 0 #C4ABFF, 
      0 7px 0 #C4ABFF, 
      0 8px 0 #C4ABFF, 
      0 9px 0 #C4ABFF, 
      0 10px 0 black, 
      0 11px 0 black, 
      0 22px 30px rgba(0, 0, 0, 0.9);
}

@media screen and  (max-width:1000px) {
    .container {
        justify-content: center;
      /* max-width: 1000px; */
    }
  }
  

.header {
    display: flex;
    background: #8293AB;
    color : #6DFFF4;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 15px;
    padding: 15px; 
}

.logo {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    justify-content: flex-end;
    width: inherit;
    height: 200px;
  }

.resumeimage{
    /* display: flex; */
     width: inherit; 
    border-radius: 4px;
    border: solid 1px #6DA3EE;
    justify-content: space-between; 
    align-items: center;
}

img {
    width: 250px;
    height: 250px;
  }

.wrapper {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
     justify-content: center;
  /* text-align: center; */
  margin-right: auto; 
  margin-left:  auto;  */
}

.container {
    display: flex;
    /* flex-flow: row wrap; */
    flex-direction: row;
    /* justify-content:space-between; */
    flex-wrap: wrap;  
    /* max-width: 960px; */
    /* min-height: 100%; */
    /* align-items: flex-start; */

}

.firstbox {
    /* background: lavender; */
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* flex: 0.1 auto; */
    /* justify-content: space-evenly; */
    align-items: center;
    margin: 0;
    margin-bottom: 15px;
    /* flex: 0.2 auto; */

} 

.firstbox p{
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

p {
    background-color: lavender;
    padding-top: 15px;
    padding-bottom: 15px;
}


.secondbox{
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0.2 auto;
    border-radius: 4px;
    background: lavender;
    padding: 15px;
    border: solid 1px #6DA3EE;
    margin-left: 30px;
}

.jobtitle{
    text-align: left;
    font-family: serif;
    font-weight:bolder;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 2px;
    letter-spacing: 0.02rem;
}

div {
    display: block;
}

body { 
    align-items: center;
    margin: 0px;
    padding: 0px;
    font-family: serif;
    background-color:#A2CAEB;
}
.jobdesc{
    text-align: left;
    text-indent: 10px;
    font-family: serif;
    font-style: regular;
    font-size: 17px;
    margin-bottom: 2px;
}
ul.responsibilities {
    margin-bottom: 15px;
}

li{
    text-align: left;
    
}
ol{
    list-style-type: decimal ;
    
}
ul{
    list-style-type: circle;
}